{% load static %}
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <title>Home - Totem's Shepherd</title>
 
        <link href="{% static 'adoptions/css/bootstrap.min.css' %}" rel="stylesheet"> 
        <link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" media="all">
        
        <link rel="icon" type="image/x-icon" href="{% static 'adoptions/images/logo.png' %}">
        
    </head>
    <body class="wide">
        <div id="page" class="hfeed site">
            <header>
                <div class="header">
                    <div class="main-head-wrap inner-wrap clearfix">
                        <div id="header-logo-image">
                            <a href="/">
                                <img src="{% static 'adoptions/images/logo.png' %}" alt="Totem's Shepherd">
                            </a>
                        </div>
                        <div id="header-text" class="">
                            <h1 id="site-title">
                                <a href="/" title="Totem's Shepherd" rel="home">Totem's Shepherd</a>
                            </h1>
                            <p>We treat your pets like we treat our own.</p>
                        </div>
                    </div>
                    <img src="{% static 'adoptions/images/header.png' %}" alt="Totem's Shepherd">
                </div>
            </header>
            <div class="main-wrapper">
                <div class="single-page clearfix">
                    <div class="inner-wrap">
                        <p>Totem's Shepherd aspires to bring together the finest of traditional and alternative medicine in the diagnosis and treatment of companion pets' health conditions. We use cutting-edge healthcare technology, as well as wisdom insights from generations of veterinary medicine tradition, to find the best and safest treatments and cures, all while maintaining a sense of trust with our patients and their guardians.</p>
                        <hr>
                        <div>
                        {% block content %}
                        {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <footer id="colophon">
                <div class="inner-wrap">
                    Totem's Shepherd is a fictitious brand created by Lynda.com, solely for the purpose of training. All products and people associated with Totem's Shepherd are also fictitious. Any resemblance to real brands, products, or people is purely coincidental. Please see your veterinarian for all matters related to your pet's health.
                </div>
            </footer>
        </div>
        <!-- JavaScript Bundle with Popper -->
        <script src="{% static 'adoptions/js/jquery-3.6.1.min.js' %}"></script>
        <script src="{% static 'adoptions/js/popper.min.js' %}"></script>
        <script src="{% static 'adoptions/js/bootstrap.bundle.min.js' %}"></script>

        <script src="{% static 'main.js' %}"></script>
    </body>
</html>