{% extends "base.html" %}
{% block content %}
<div>
    
      <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Our Treasures</h2>
    
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        {% for pet in pets %}
        <div class="petname">
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-light rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                    <a href="{% url 'pet_detail' pet.id %}">
                    {{ pet.name|capfirst }}
                    </a>
                    <p>{{ pet.species }}</p></h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <!-- <li class="me-auto">
                    <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li> -->
                  <li class="d-flex align-items-center me-3">
                    <small>
                        {% if pet.breed %}
                        <p><em class="badge rounded-pill bg-success" style="font-size: 1em;">Breed:</em> {{ pet.breed }}</p>
                        {% endif %}
                    </small>
                  </li>
                  <li class="d-flex align-items-center">
                    <small><p class="hidden">{{ pet.description }}</p></small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>  

        {% endfor %}
        </div>
      </div>

</div>

  
{% endblock %}